.button {
    background-color: #0070f3; /* Default color */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    padding: 3px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .button:hover {
    background-color: #005bb5; /* Darker color on hover */
  }


  
  .button:active {
    transform: scale(0.98); /* Slightly scale down on click */
  }
  
  .button.disabled {
    background-color: #e0e0e0;
    color: #b0b0b0;
    cursor: not-allowed;
  }
  .button.primaryColor {
    background-color: orange;
    color: white;
    cursor: not-allowed;
  }
  .button.secondaryColor {
    background-color: grey;
    color: white;
    cursor: not-allowed;
  }
  